* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
}

img {
	max-width:  100%;
	height: auto;
	vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
	content:  " ";
	display:  table;
}

.clearfix {
	clear: both;
}

.clearfix {
	*zoom: 1;
}